.navbar {
    padding-bottom: 2rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.navbar-item {
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-link {
    color: #5CDB95;
}

#title_section {
    background-color: black;
}

#title_container {
    padding: 2% 10%;
}

#reset_section {
    background-color: #5CDB95;
    padding: 2% 10%
}

#reset_container {
    padding: 2% 10%;
    margin: 0 auto;
}

.title_card {
    background-color: black;
    border: 0;
    width: 18rem;
}