*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/camping/mountains.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
    padding: 15px 25px;
}

.col{
    flex-basis: 50%;
}

h1{
    color: #fff;
    font-size: 100px;
}

p{
    color: #fff;
    font-size: 22px;
    line-height: 15px;
}

.cards {
    margin: 0 auto;
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.card{
    width: 400px;
    height: 460px;
    display: grid;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-image: url(../images/camping/white-background.jpg);
    background-position: center;
    background-size: cover;
}

.card__content h5{
    color: rgb(6, 6, 6);
    text-shadow: 0 0 10px #999;
    text-align: left;
    font-size: 35px;

}

.card p{
    color: rgb(6, 6, 6);
    text-shadow: 0 0 10px #999;
}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 5px;
}

.card__image{
    width: 75%;
    display: flex;
}
.box {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: left;
    justify-content: left;
}

input[type="checkbox"] {
    position: relative;
    width: 2em;
    height: 2em;
    color: #363839;
    border: 1px solid #bdc1c6;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
input[type="checkbox"]::before {
    position: absolute;
    content: '';
    display: block;
    top: 2px;
    left: 7px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
input[type="checkbox"]:checked {
    color: #fff;
    border-color: #06842c;
    background: #06842c;
}
input[type="checkbox"]:checked::before {
    opacity: 1;
}
input[type="checkbox"]:checked ~ label::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
label {
    position: relative;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 0.25em 0;
    user-select: none;
}
label::before {
    position: absolute;
    content: attr(data-content);
    color: #9c9e9f;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #363839;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

input[type=text]:focus {
    border: 3px solid #555;
}

#textboxid
{
    height:30px;
    border-radius: 10px;
    font-size:14pt;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}