{% extends "base.html" %}
{% block title %}New Trip{% endblock %}

{% block content %} 
<form method="POST">
    <h1 align="center">Trips</h1>
    <hr>
    <ul class="list-group list-group-flush" id="trip"></ul>
        {% for trip in user.trip %}
        <li class="list-group-item"></li>
            <a class ="link" id = "{{trip.id}}"" href="/trip-summary">{{trip.name}}e</a>
            <button type="button" class="close" onClick="deleteTrip({{ trip.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        {% endfor %}
    </ul>  
    <h3 align="center">Create New Trip</h3>
    <div class="form-group">
        <label for="name">Trip Name</label>
        <input 
            type="name" 
            class="form-control" 
            id="name" 
            name="name"
            placeholder="Enter Trip Name"
        />
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
        <input 
            type="text" 
            class="form-control" 
            id="desc" 
            name="desc"
            placeholder="Enter description"
        />
    </div>
    <div class="form-group">
        <label for="tripType">Trip Type</label>
        <input 
            type="text" 
            class="form-control" 
            id="tripType" 
            name="tripType"
            placeholder="Enter Trip Type"
        />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}