<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Events</title>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">

        <!-- Custom Stylesheets -->
        <link rel="stylesheet" href="../static/css/events.css">
        <link rel="stylesheet" href="../static/css/navbar.css">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" crossorigin="anonymous">

        <script type="text/javascript">
            function CheckTripType(val){
             var element=document.getElementById('displayOther');
             if(val==5)
               element.style.display='block';
             else
               element.style.display='none';
            }
        </script> 
    </head>
    <body>
        <nav>
            <div class="navheading">
                <h4>Trip Planner</h4>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/map">Map</a></li>
            </ul>
        </nav>
        {% if user.trip %}
        <h1 align="center">My Trips</h1>
        <div class="container" style="margin: auto; background-color: black; border-radius: 25px">
            <div class="row mx-auto" >
                {% for trip in user.trip %}
                <div class="card col-lg-2 col-sm-12">
                    <a href="/trip-summary/{{trip.id}}" class="button">
                    <div class="card-body">
                        <h5 id="{{trip.id}}" class="link card-title" >{{trip.name}}</h5>
                        <p class="card-text">{{trip.desc}}</p>
                        <p class="card-text">{{time_till(trip.date)}}</p>
                    </div>
                    </a>
                    <button type="button" class="btn btn-primary btn-sm" onClick="deleteTrip({{trip.id}})">Delete</button>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        
        <div class="mask d-flex align-items-center h-100">
            <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px; background-color: #5cdb95">
                    <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5">Create New Trip</h2>

                    <form method="POST">

                        <div class="form-outline mb-4">
                        <label for="name">Trip Name</label>
                        <input type="name" class="form-control" id="name" name="name"/>
                        </div>

                        <div class="form-outline mb-4">
                        <label for="desc">Trip Description</label>
                        <input type="Description" class="form-control" id="desc" name="desc"/>
                        </div>

                        <div class="form-group mb-4">
                            <label for="lat">Latitude: </label>
                            <input type="number" step = .001 id="lat" name="lat" class="lat" min="-90" max="90">
                            <label for="lon">Longitude: </label>
                            <input type="number" step = .001 id="lon" name="lon" class="lon" min="-180" max="180">
                        </div>

                        <div class="form-group mb-4">
                            <label for="tripType">Trip Type</label>
                            <select class="form-control" id="tripType" name="tripType" onchange='CheckTripType(this.value);'>
                                <option value="1">Backpacking</option>
                                <option value="2">Climbing</option>
                                <option value="3">Kayaking</option>
                                <option value="4">Biking</option>
                                <option value="5">Other</option>
                            </select>
                        </div>

                        <div class="form-group mb-4" id = "displayOther" style='display:none;'>
                            <label for="othertype">Other</label>
                            <input type="text" id="otherType" name="otherType" class="form-control">
                        </div>

                        <div class="form-group mb-4">
                            <label for="tripdate">Date</label>
                            <input type="date" id="tripDate" name="tripDate" class="form-control" >
                        </div>

                        <div class="form-group mb-4">
                            <label for="tripTime">Time</label>
                            <input type="time" id="tripTime" name="tripTime">
                        </div>

                        <div class="form-outline mb-4">
                        <label for="num_people">Number of Participants</label>
                        <input type="number" class="form-control" id="num_people" name="num_people" min="1" max="1000"/>
                        </div>

                        <div class="d-flex justify-content-center">
                        <button name="submit_button" value="create trip" type="submit" class="btn btn-primary btn-block btn-lg" style="margin: 10px 0">Submit Trip</button>
                        </div>

                    </form>

                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/js/index.js"></script>
    </body>
</html>