{% extends "base.html" %}

{% block content %}
<form method="POST">
    <h3 align="center" class="mt-4">Change Password</h3>
    <div class="row mb-4 mt-4">
        <label for="password1" class="col-sm-3 col-form-label"><b>New Password</b></label>
        <div class="col-sm-4">
            <input 
                type="password" 
                class="form-control" 
                id="password1" 
                name="password1"
                placeholder="Enter password"
            />
        </div>
    </div>
    <div class="row mb-4">
        <label for="password2" class="col-sm-3 col-form-label"><b>Confirm New Password</b></label>
        <div class="col-sm-4 align">
            <input 
                type="password" 
                class="form-control" 
                id="password2" 
                name="password2"
                placeholder="Re-enter password"
            />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}