<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name = "viewpport" content="width=device-width, inital-scale=1.0">

    <!-- Custom Stylesheets-->
    <link rel="stylesheet" href="../static/css/single-recipe.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?
    family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Trip Planner</title>
</head>
<body>
    <nav>
        <div class="navheading">
            <h4>Trip Planner</h4>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <div class="recipe-card">

        <aside>
    
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/oatmeal.jpg" alt="Chai Oatmeal" />
    
        </aside>
    
        <article>
    
            <h2>Chai Oatmeal</h2>
            <h3>Breakfast</h3>
    
            <ul>
                <li><span class="icon icon-users"></span><span>1</span></li>
    
            <p>For an extra thick and creamy bowl, add oat bran.  It'll make for a hearty helping and also add more fiber to your meal.  If you love the taste of chai, you'll enjoy this spiced version with coriander, cinnamon, and turmeric.</p>
            <p>Instructions
    At Home
    Add the flour, brown sugar, cinnamon, baking powder, and salt to a sealable bag or container and pack along with the rest of the ingredients.
    At Camp
    Place two bananas in a medium bowl and mash thoroughly with the back of a fork until fairly smooth. Crack the egg into the mixture and add in the milk. Beat the banana, egg, and milk together until smooth.
    Add the dry ingredients to the bowl and mix until well combined with the wet ingredients. Don't overmix - some small lumps are OK. If the batter seems too thick, you can add an additional ¼ cup milk.
    Heat a nonstick pan or well-seasoned cast iron skillet on your stove over medium-low to medium heat. Add a generous dab of ghee, butter, or coconut oil (especially if using cast iron!) and swirl to coat the pan. Pour ⅓ cup of the pancake batter into the center of the skillet and scatter some of the chopped walnuts on top. Cook for a few minutes until the top begins to bubble and the sides are set (2-3 minutes). Using a spatula, flip the pancake and cook the other side until golden.
    Repeat with the rest of the batter, adding more ghee or oil to the pan for each pancake as needed.</p>
    
            <p class="ingredients"><span>Ingredients:&nbsp;</span>Milk, salt, coriander, cardamom, cinnamon, turmeric, honey, vanilla extract, regular oats, oat bran.</p>
    
        </article>
    
    </div>
</body>
</html>